# Files in the main project folder
Game.ini
RGSS*.dll

# Temp files

~*
Data/Actors.rxdata
Data/Armors.rxdata
Data/Enemies.rxdata
Data/Enemies.rxdata
Data/Items.rxdata
Data/Skills.rxdata
Data/States.rxdata
Data/Weapons.rxdata
